# Ignoramos carpetas de datos:

/agrupaciones/
/mediciones_originales/
/mediciones_por_anio/
/mediciones_por_anio_limpias/
/archivos_entrada_script/
/entregables_por_cliente
/curvas_tipo_clientes
/data
/logs
/plugins
/config
